.container {
  width: "100%";
  padding-bottom: 5%;
  padding-top: 5%;
}
.infoIcon {
  margin-left: 5px;
}
.infoText {
  font-family: "SoraLight";
}
.info {
  display: flex;
  flex-direction: row;
}
.logo {
  margin-top: 2px;
  margin-bottom: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text {
  color: #717171;
  font: "SoraExtraLight";
  font-size: 12;
}
.digitalidtext {
  font-family: "Lexend";
  color: "#717171";
  font-weight: 400;
}

.customText {
  color: #151513;
  font-family: "Lexend-medium";
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.5;
}
.modalContent {
  background-color: "#545454";
}

.cancelButton {
  display: flex;
}

.HomeButton {
  background-color: #efefef;
  font: #151513;
  font-family: "Lexend";
  width: 100%;
  height: 49px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border: none;
  font-family: "Inter";
  font-weight: 400px;
  font-size: 17px;
  line-height: 23%;
  text-align: center;
  margin: 9px;
}

.adressSection {
  background-color: #efefef;
  height: "100%";
  width: "100%";
}
