@font-face {
  font-family: "Lexend-Regular";
  src: url("../assets/fonts/Lexend-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-SemiBold";
  src: url("../assets/fonts/Lexend-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lexend-Bold";
  src: url("../assets/fonts/Lexend-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora-Bold";
  src: url("../assets/fonts/Sora-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora-SemiBold";
  src: url("../assets/fonts/Sora-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora-Light";
  src: url("../assets/fonts/Sora-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora-ExtraLight";
  src: url("../assets/fonts/Sora-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.infoIcon {
  margin-left: 5px;
}
.infoText {
  font-family: "Sora-Light";
}
.info {
  display: flex;
  flex-direction: row;
}
.logo {
  margin-top: 2px;
  margin-bottom: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text {
  color: #717171;
  font: "Sora-ExtraLight";
  font-size: 12;
}
.digitalidtext {
  font-family: "Lexend-Regular";
  color: "#717171";
  font-weight: 400;
}

.customText {
  color: #151513;
  font-family: "Lexend-SemiBold";
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.5;
}
.modalContent {
  background-color: "#545454";
}

.cancelButton {
  display: flex;
}
.HomeButtonSection {
  width: "100%";
  margin-right: 7px;
  padding-right: 4px;
  /* padding-right: 3px;  */
}
.HomeButton {
  background-color: #efefef;
  font: #151513;
  color: #151513;

  font-family: "Lexend-Regular";
  width: 100%;
  height: 48px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border: none;
  font-family: "Inter";
  font-weight: 400px;
  font-size: 17px;
  line-height: 23%;
  text-align: center;
  border-radius: 3px;
  /* margin: 9px; */
}
.HomeButton:hover {
  font: #151513;
  color: #151513;
}

.adressSection {
  background-color: #efefef;
  height: "100%";
  width: "100%";
}

.breakLine {
  white-space: pre-line;
  word-break: break-all;
}

.pageHeaders {
  font-family: "Lexend-SemiBold";
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.1px;
}

.customP {
  font-family: "Lexend-Regular";
  color: #717171;
  font-size: 15px;
}
.resaleText {
  font-family: "Lexend-Regular";
  color: #000000;
  font-weight: 600;
  font-size: 14px;
}
